.page-heading{
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
}
.inputs{
    border: 1px solid lightgray;
    width: 50%;
    padding: 1%;
}
.selects{
    border: 1px solid lightgray;
    width: 70%;
    padding: 1%;    
}

.btnWidth{
    width: 45%;
}
th, td {
    width:5%;
  }

  
#table {
    flex: 1 1 auto;
    width: 100%;
  }
  
  #table-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
  }
  
  #table-container table {
    width: 100%;
  }
  
  .mat-header-row th {
    position: sticky;
    top: 0;
    background-color: white;
    position: -webkit-sticky;
    z-index: 1;
  }
  

  table.minimalistBlack {  
    border: 3px solid #000;  
    width: 100%;  
    text-align: left;  
    border-collapse: collapse  
}  
  
table.minimalistBlack td,  
table.minimalistBlack th {  
    border: 1px solid #000;  
    padding: 5px 4px  
}  
  
table.minimalistBlack tbody td {  
    font-size: 13px  
}  
  
table.minimalistBlack thead {  
    background: #cfcfcf;  
    background: -moz-linear-gradient(top, #dbdbdb 0, #d3d3d3 66%, #cfcfcf 100%);  
    background: -webkit-linear-gradient(top, #dbdbdb 0, #d3d3d3 66%, #cfcfcf 100%);  
    background: linear-gradient(to bottom, #dbdbdb 0, #d3d3d3 66%, #cfcfcf 100%);  
    border-bottom: 3px solid #000  
}  
  
table.minimalistBlack thead th {  
    font-size: 15px;  
    font-weight: 700;  
    color: #000;  
    text-align: left  
}  
  
table.minimalistBlack tfoot {  
    font-size: 14px;  
    font-weight: 700;  
    color: #000;  
    border-top: 3px solid #000  
}  
  
table.minimalistBlack tfoot td {  
    font-size: 14px  
}  
#txtFileUpload{
position: relative;
 opacity: 0; 
right: 117%;
width: 128%;
}