.page-heading{
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
}
.nameCode{
    width: 100%;
  }
.move-left{
    width: 100%; 
    display: flex; 
    align-items: flex-start;
    text-align: left;
}
.extend-element{
    width:90%;
}
.extend-element-medium{
    width:70%;
}
.btnWidth{
    width: 50%;
}
.mandat{
    color: red;
    margin-left: 2%; 
  }
.inputs{
    border: 1px solid lightgray;
    width: 50%;
    padding: 1%;
}
.selects{
    border: 1px solid lightgray;
    width: 70%;
    padding: 1%;    
}
table {
    width: 100%;
  }
  th, td {
    width:15%;
  }
  th, td {
    width:5%;
  }

  
#table {
    flex: 1 1 auto;
    width: 100%;
  }
  
  #table-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
  }
  
  #table-container table {
    width: 100%;
  }
  
  .mat-header-row th {
    position: sticky;
    top: 0;
    background-color: white;
    position: -webkit-sticky;
    z-index: 1;
  }

