#logo{
    height: 30px;
    width: 100px;   
}

#nav-text{

    color: white;
    font-family: sans-serif;

    width: 100%; 
    padding-bottom: 15px;
    text-align: center;
    
}

.extend-element{
    width:60%;
}