<div class="container p-t-5">
  <form>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-5">
          <mat-form-field class="nameCode">
            <input matInput placeholder="Enter Client code">
          </mat-form-field>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
          <mat-form-field class="nameCode">
            <input matInput placeholder="Enter Client name">
          </mat-form-field>
        </div>
      </div>
      <br>
      <mat-form-field class="nameCode">
        <textarea matInput placeholder="User Comments"></textarea>
      </mat-form-field>
    </div>
  </form>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-3"></div>
        <div class="col-sm-3">
          <button class="background-primary-color white-text btnWidth" mat-button>Save</button>
        </div>
        <div class="col-sm-3">
          <button class="background-primary-color white-text btnWidth" mat-button>Cancel</button>
        </div>
        <div class="col-sm-3"></div>
    </div>
    </div>