/* You can add global styles to this file, and also import other style files */

//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; 

 @import "./theme.scss";

body{
    margin: 0;
    padding: 0;
}
.multiselect-item-checkbox[_ngcontent-c7] input[type=checkbox][_ngcontent-c7]:checked + div[_ngcontent-c7]:before {
    background: orange !important;
}
.multiselect-item-checkbox[_ngcontent-c7] input[type=checkbox][_ngcontent-c7] + div[_ngcontent-c7]:before {
    color: orange !important;
    border: 2px solid orange !important;
}
.multiselect-dropdown[_ngcontent-c7] .dropdown-btn[_ngcontent-c7] .selected-item[_ngcontent-c7] {
    border: 1px solid orange !important;
    background: orange !important;
}

.mat-raised-button{
    background-color: gray;
    //background-color: rgb(255, 130, 13);
    color: white;
}
